.inner_layout {
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.inner_layout.fluid{
  grid-template-columns: 1fr !important;
}
.inner_layout > .sidebar {
  border: 1px solid var(--light-color-3);
  background-color: var(--light-color);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-rows: 40px;
}
.inner_layout > .sidebar.hasHeader {
  grid-template-rows: 300px 1fr;
}
.inner_layout > .content {
  border: 1px solid var(--light-color-3);
  background-color: var(--light-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: grid;
  width: 100%;
  height: 100%;
}
.inner_layout > .sidebar > .nav_list {
  position: relative;
  color: var(--dark-color-3);
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  padding-left: 25px;
  transition: all 0.4s ease-in;
}
.inner_layout > .sidebar > .nav_list:hover{
  color: var(--primary-color);
  background-color: rgba(189, 140, 140, 0.05);
}
.inner_layout > .sidebar li a {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  left: 14px;
  color: var(--dark-color-3);
  opacity: 1 !important;
  transition: all 0.4s ease-in;
}
.inner_layout > .sidebar li a:hover{
  color: var(--primary-color);
}
.inner_layout > .sidebar > li > i {
  color: inherit;
}
.inner_layout > .sidebar > .nav_group {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid var(--light-color);
}
.inner_layout > .sidebar > .nav_group:hover {
  background-color: var(--light-color-2);
  cursor: pointer;
}
.inner_layout > .sidebar > .nav_group > li:last-child a {
  color: var(--dark-color-3);
  font-weight: 300 !important;
}
.profileHeader {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr repeat(2, 50px);
}
.profileHeader .avatar {
  height: 100%;
  width: 80%;
  margin: 10px auto 0 auto;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
}
.profileHeader .avatar:hover{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.profileHeader .avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profileHeader h3 {
   /* Fallback: Set a background color. */
  background-color: var(--primary-color);
  
   /* Create the gradient. */
  background-image: linear-gradient(45deg, var(--primary-color), #ff7e34);
   
   /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
 
   /* Use the text as a mask for the background. */
   /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-bottom: 1px solid  var(--light-color-3);
  border-radius: 10px;
}
.profileHeader .group {
  position: relative;
  top: 10px;
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileHeader .group > button {
  background-image: linear-gradient(
    to right bottom,
    #ff6434,
    var(--primary-color)
  );
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
  border-radius: 5px;
  margin: 0 2px;
  transition: all 0.2s ease;
}
.profileHeader .group > button:last-child {
  background-image: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  transition: all 0.2s ease;
}
.profileHeader .group > button:hover {
  opacity: 0.8;
}
.profileHeader .group > button:last-child:hover {
  opacity: 1;
  background-image: linear-gradient(
    to right bottom,
    #ff6434,
    var(--primary-color)
  );
  color: var(--white-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.advanced_search_section form {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
}
.header_section {
  padding: 0;
}
