.msg_status {
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto 15px auto;
  text-align: center;
  background-color: #fafafa;
}
.msg_status.success > * {
  background-color: var(--green-color);
  color: #fff;
}
.msg_status.danger > * {
  background-color: var(--red-color);
  color: #721c24;
}
.msg_status > * {
  margin-top: 2px;
  padding: 8px;
  border-radius: 10px;
  font-size: 12px;
}
